<div class="container header-space">
  <div class="jumbotron">
    <h1>Agile Heist</h1>
    <p class="lead">
      <img src="http://cdn.flaticon.com/png/256/36352.png" alt="Agile Heist"><br>
      Can your team pull off the heist...?
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/picker">Make your picks <span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <div class="row marketing">
    <!-- <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p> -->

  </div>
</div>
